<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="slang_assistant" translate="label" sortOrder="10">
            <label>Slang Assistant</label>
        </tab>
        <section id="slang_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Retail Voice Assistant</label>
            <tab>slang_assistant</tab>
            <resource>Immohsin_Magento2::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configure Slang Retail Assistant</label>
                <field id="assistant_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Assistant ID</label>
                    <validate>required-entry validate-length minimum-length-32 maximum-length-32</validate>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API key</label>
                    <validate>required-entry validate-length minimum-length-32 maximum-length-32</validate>
                </field>
                <field id="subdomain" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subdomain</label>
                    <source_model>Immohsin\Magento2\Model\Source\SubdomainDropDown</source_model>
                </field>
                <field id="languages" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add language to enable</label>
                    <source_model>Immohsin\Magento2\Model\Source\MultiSelectLangCodes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>